[Unit]
Description=Lotus Fountain
After=network-online.target
Requires=network-online.target

[Service]
Environment=GOLOG_FILE="/var/log/lotus/fountain.log"
Environment=GOLOG_LOG_FMT="json"
ExecStart=/usr/local/bin/lotus-fountain --repo=/data/lotus/dev/.lotus run --front=0.0.0.0:7777 --amount=10000
Restart=always
RestartSec=10

LimitNOFILE=8192:10240

[Install]
WantedBy=multi-user.target
